# Don't allow people to merge changes to these lock files,
# because the result may be invalid.
# Always update lock files by package manager itself.
pnpm-lock.yaml               merge=binary
shrinkwrap.yaml              merge=binary
npm-shrinkwrap.json          merge=binary
yarn.lock                    merge=binary

*.json                       linguist-language=JSON-with-Comments
